<% include partials/header %>
<header id="page-header-events" class="maxh">
        <% include partials/nav %>
    <section class="p-5">
            <div class="row">
              <div class="col mt-5">
                <div class="container pt-5 mt-5 pl-0">
                  <h1 class="header-text">Events</h1>
                  <hr class="header-hr" noshade>              
                  <br><div class="header-text-2 mr-5">Club Of SIT for Multimedia And Open Source</div>
                  <a href="#eventsection" class="btn btn-header btn-md ml-5 mt-3">Check out our events</a>
                </div>
              </div>
            </div>
          </div>
    </section>
    </header>
    <a name="eventsection">
            <section id="home-heading-events" class="p-5 maxh" style="overflow:auto">
                      <div class="row">
                        <div class="col">
                          <div class="container text-center">
                              <br>
                                  <h2>UNRAVEL TECH:</h2>
                                  <h3>"Come Ignorant, Go Enlightened"</h3>
                                  <p><strong>Good gracious time Amigoes.
                                    First things first, Happy New Year (Belated although, 😃).
                                    Team COSMOS is coming up with a brand new event this weekend (12th Jan, 2019). We call it 'Unravel Tech' and we shall do just that. We will delve into the technical and non-technical aspects of all the latest in-trend tech currently in use by the core tech titans out there. We offer you a perfect opportunity to get a head start into your hazy dream field of tech. 
                                    A well established developer from our much beloved open source community is invited for the same.
                                    So head on and register yourselves ASAP on the following link : https://goo.gl/forms/G6cCDpIKo5iut6Nr2 (Sorry for the limited seats in advance.😬)
                                    Pre-Requisites : Perhaps a zillion questions about your future course of career, your field of interest, your apprehensions on your fav tech and so on, that tormented your mind for so long and the willingness to ask them to our speaker.
                                    PS : Mr. Abraar Syed, some of you who alread know him from Mozilla WebVR event we conducted sometime back, is our invitee. Now isn't that a bonus there. 😉
                                    Thank You for reading it all.
                                    Team COSMOS
                                    "Complexity Simplified"
                                    For further queries, inviting you to join our Telegram group : http://t.me/querygrp<strong></p>
                                  <a href="https://bit.ly/2FcldUr" class="btn btn-header btn-md mt-3">Register Now</a>
                              <br>
                            </div>
                          </div>
                        </div>
            </section>
    </a>
                  <section id="home-heading" class="p-5 maxh">
                        <div class="dark-overlay">
                          <div class="row">
                            <div class="col">
                              <div class="container pt-2">
                                  <!-- <a href="#" class="video" data-video="https://www.youtube.com/embed/Sshle7LzNCU?ecver=1" data-toggle="modal" data-target="#videoModal">
                                    <i class="fas fa-play fa-3x"></i> -->
                                    <br><br>
                                    <h3>Events</h3>
                                  <h4>Latest Event : An interactive session on trendiest technologies with mozilla representatives</h4>
                                  <br>
                                  <div class="row mb-3">
                
                                      <div class="col-md-6 col-lg-3 col-sm-1">
                                          <a href="img/poster6.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
                                            data-width="565">
                                            <div class="cont">
                                              <img src="img/poster6.jpg" alt="" class="img-fluid overlay">
                                              <a href="https://bit.ly/2FcldUr" class="btn btn-header btn-lg mt-2 imghover">Register Now</a>
                                            </div>
                                          </a>
                                        </div>
                                        
                                        <div class="col-md-6 col-lg-3 col-sm-1">
                                            <a href="img/poster4.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
                                              data-width="563">
                                              <img src="img/poster4.jpg" alt="" class="img-fluid opacity2">
                                            </a>
                                          </div>
                
                
                                          <div class="col-md-6 col-lg-3 col-sm-1" style="overflow:hidden;">
                                              <a href="img/poster3.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
                                                data-width="562">
                                                <img src="img/poster3.jpg" alt="" class="img-fluid opacity2">
                                              </a>
                                            </div>
                
                                        <div class="col-md-6 col-lg-3 col-sm-1" style="overflow:hidden;">
                                          <div class="row-lg-6">
                                              <a href="img/poster2.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
                                              data-width="561">
                                              <img src="img/poster2.jpg" alt="" class="img-fluid opacity2">
                                            </a>
                                          </div>
                                          <div class="row-lg-6 mt-2">
                                              <a href="img/poster5.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
                                              data-width="564">
                                              <img src="img/poster5.jpg" alt="" class="img-fluid opacity2">
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                  </div>     
                              </div>
                            </div>
                          </div>
                </section>
<% include partials/footer %>