<% include partials/header %>
<header id="page-header-events" class="maxh">
        <% include partials/nav %>
    <section class="p-5">
            <div class="row">
              <div class="col mt-5">
                <div class="container pt-5 mt-5 pl-0">
                <div style="overflow:hidden;width: min-content" class="text-center">
                  <h1 class="header-text">Events</h1>
                  <hr class="header-hr" noshade>              
                </div>
                  <!-- <br><div class="header-text-2 mr-5">Club Of SIT for Multimedia And Open Source</div> -->
                  <a href="#eventsection" class="btn btn-header btn-md ml-5 mt-3">Check out our events</a>
                </div>
              </div>
            </div>
          </div>
    </section>
    </header>
    <a name="eventsection">
            
  
            <section id="events" class="py-3 maxh">
                <div class="container">
                  <div class="row text-center mt-2">
                    <div class="col-lg-12 p-auto m-auto">
                        <h2>UNRAVEL TECH:</h2>
                        <h3>"Come Ignorant, Go Enlightened"</h3>
                        <p><strong>Good gracious time Amigoes.
                          First things first, Happy New Year (Belated although, 😃).
                          Team COSMOS is coming up with a brand new event this weekend (12th Jan, 2019). We call it 'Unravel Tech' and we shall do just that. We will delve into the technical and non-technical aspects of all the latest in-trend tech currently in use by the core tech titans out there. We offer you a perfect opportunity to get a head start into your hazy dream field of tech. 
                          A well established developer from our much beloved open source community is invited for the same.
                          Pre-Requisites : Perhaps a zillion questions about your future course of career, your field of interest, your apprehensions on your fav tech and so on, that tormented your mind for so long and the willingness to ask them to our speaker.
                          PS : Mr. Abraar Syed, some of you who alread know him from Mozilla WebVR event we conducted sometime back, is our invitee. Now isn't that a bonus there. 😉
                          Thank You for reading it all.
                          Team COSMOS
                          "Complexity Simplified"
                          For further queries, inviting you to join our Telegram group : http://t.me/querygrp<strong></p>
                        
                        <h1>Some important links to get you started</h1>
                          <li>
                            <a href="https://link.medium.com/nD499mhMnT">Learn to code (or do anything): top down, bottom up and other approaches” by Austin Tindle</a>
                          </li>
                          <li>
                            <a href="https://link.medium.com/PMAGKepNnT">“Want amazing free coding tutorials? Subscribe to these YouTube Channels.” by Beau Carnes</a>
                          </li>
                          <li>
                            <a href="https://pexels.com">Copyright free Stock photos : Pexels.com</a>
                          </li>
                          <li>
                              <a href="https://unsplash.com">Copyright free Stock photos : Unsplash.com</a></li>
                          <li>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">HTML elements reference MDN</a>
                          </li>
                          <li>
                            <a href="https://css-tricks.com/snippets/html/glyphs/">More HTML content : css-tricks</a>
                          </li>
                          <li>
                            <a href="https://websitesetup.org/html5-cheat-sheet/">HTML cheat sheet : websitesetup</a>
                          </li>
                          <li>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference">CSS reference : MDN</a>
                          </li>
                          <li>
                            <a href="http://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048">30 important selectors : code.tutsplus</a>
                          </li>
                          <li>
                            <a href="http://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048">JavaScript Documentation : code.tutsplus</a>
                          </li>
                          <li>
                              <a href="https://freecodecamp.org">freecodecamp.org</a>
                          </li>
                          <li>
                              <a href="https://codecademy.com">codecademy.com</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9jE_cGvLLC60C_PeF_24pvv">Bootstrap Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9gGrbtvASEZSlFEYBnPkmff">Materialize Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PLillGF-RfqbYJVXBgZ_nA7FTAAEpp_IAc">JQuery Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PLillGF-RfqbZ7s3t6ZInY3NjEOOX7hsBv">JavaScript Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PLillGF-RfqbYRpji8t4SxUkMxfowG4Kqp">NodeJs Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PLillGF-RfqbZTASqIqdvm1R5mLrQq79CU">HTML + CSS Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9gQcYgjhBoeQH7wiAyZNrYa">Vue JS Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9ij8CfkAY2RAGb-tmkNwQHG">React Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/user/DesignCourse">Design Course UI/UX</a>
                          </li>
                          <li>
                              <a href="http://syntax.fm/">Latest trends in Web development industry podcast</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/user/ForeverDansky">UI/UX Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/user/CalerEdwards">More UI/UX Tutorials</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/user/JesseAtomic">Even more UI/UX tutorials</a>
                          </li>
                          <li>
                              <a href="https://reactjs.org/docs/getting-started.html">React Docs</a>
                          </li>
                          <li>
                              <a href="https://vuejs.org/">Vue Docs</a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/playlist?list=PLhW3qG5bs-L99pQsZ74f-LC-tOEsBp2rK">Docker Basics</a>
                          </li>
                          <li>
                              <a href="https://flaviocopes.com/sample-app-ideas/">A list of sample Web App Ideas</a>
                          </li>
                          <li>
                              <a href="https://stackshare.io/">Tech Stack used in websites</a>
                          </li>
                          <li>
                              <a href="http://codepen.io/">Online Code Compiler : codepen.io</a>
                          </li>
                          <li>
                              <a href="https://dribbble.com/">UI/UX design inspirations</a>
                          </li>
                          <li>
                              <a href="https://www.awwwards.com/">Websites inspirations</a>
                          </li>
                          <li>
                              <a href="https://github.com/toddmotto/public-apis">List of public API's in Github</a>
                          </li>
                          <li>
                              <a href="https://mobbin.design/">Mobile Design inspiration</a>
                          </li>
                          <li>
                              <a href="https://github.com/kamranahmedse/developer-roadmap">Roadmap to becoming a web developer in 2019</a>
                          </li>
                    </div>
                 </div>
                </div>
            </section>
    </a>
    <section id="home-heading" class="p-5 maxh">
      <div class="dark-overlay p-5 maxh">
        <div class="row">
          <div class="col">
            <div class="container pt-2">
                <!-- <a href="#" class="video" data-video="https://www.youtube.com/embed/Sshle7LzNCU?ecver=1" data-toggle="modal" data-target="#videoModal">
                  <i class="fas fa-play fa-3x"></i> -->
                  <br>
                  <h3>Events</h3>
                <h4>Latest Event : An interactive session on trendiest technologies with mozilla representatives</h4>
                <br>
                <div class="row mb-3">

                    <div class="col-md-6 col-lg-3 col-sm-6" style="margin-bottom:-50px;">
                        <a href="img/poster6.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
                          data-width="565">
                          <div class="cont">
                            <img src="img/poster6.jpg" alt="" class="img-fluid overlay">
                            <a href="#" class="btn btn-header btn-lg mt-2 imghover">Reg. Closed</a>
                          </div>
                        </a>
                      </div>

                      <div class="col-md-6 col-lg-3 col-sm-6 p-2 mt-0 ">
                          <a href="img/poster4.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
                            data-width="563">
                            <img src="img/poster4.jpg" alt="" class="img-fluid opacity2">
                          </a>
                        </div>


                        <div class="col-md-6 col-lg-3 col-sm-6 p-2">
                            <a href="img/poster3.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
                              data-width="562">
                              <img src="img/poster3.jpg" alt="" class="img-fluid opacity2">
                            </a>
                          </div>

                      <div class="col-md-6 col-lg-3 col-sm-6 p-2">
                        <div class="row-lg-6 p-2">
                            <a href="img/poster2.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
                            data-width="561">
                            <img src="img/poster2.jpg" alt="" class="img-fluid opacity2">
                          </a>
                        </div>
                        <div class="row-lg-6 mt-2 p-2">
                            <a href="img/poster5.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
                            data-width="564">
                            <img src="img/poster5.jpg" alt="" class="img-fluid opacity2">
                          </a>
                        </div>
                      </div>
                    </div>
                    <a href="/events" class="btn btn-header btn-md">Events</a>
                </div>     
            </div>
          </div>
        </div>
</section>
<% include partials/footer %>