<% include partials/header %>
<header id="page-header-events" class="maxh">
        <% include partials/nav %>
    <section class="p-5">
            <div class="row">
              <div class="col mt-5">
                <div class="container pt-5 mt-5 pl-0">
                  <br><br>
                  <!-- <span class="header-text-vertical">Explore the unseen!</span> -->
                  <h1 class="header-text">Events</h1>
                  <hr class="header-hr" noshade>              
                  <br><div class="header-text-2 mr-5">Club Of SIT for Multimedia And Open Source</div>
                  <a href="#eventsection" class="btn btn-header btn-md ml-5 mt-3">Check out our events</a>
                </div>
              </div>
            </div>
          </div>
    </section>
    </header>
    <a name="eventsection">
            <section id="home-heading-events" class="p-5 maxh" style="overflow:scroll">
                      <div class="row">
                        <div class="col">
                          <div class="container">
                              <br>
                              <div class="text-center" style="overflow:scroll">
                                  <h2>UNRAVEL TECH:</h2>
                                  <h3>Come Ignorant, Go Enlightened</h3>
                                  <h4>Register now</h4>
                                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeo1Ke1_Tb-VOy5aVjl2fYvHPFDjMGGf0qTMxQl-lPZyHLsjg/viewform?embedded=true" width="640" height="1247" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                      
            </section>
    </a>
                  <section id="home-heading" class="p-5 maxh" style="overflow:hidden">
                        <div class="dark-overlay">
                          <div class="row">
                            <div class="col">
                              <div class="container pt-2">
                                  <!-- <a href="#" class="video" data-video="https://www.youtube.com/embed/Sshle7LzNCU?ecver=1" data-toggle="modal" data-target="#videoModal">
                                    <i class="fas fa-play fa-3x"></i> -->
                                    <br><br>
                                    <h3>Events</h3>
                                  <h4>Latest Event : An interactive session on trendiest technologies with mozilla representatives</h4>
                                  <br>
                                  <div class="row mb-3">
                
                                      <div class="col-md-6 col-lg-3 col-sm-1">
                                          <a href="img/poster6.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
                                            data-width="565">
                                            <div class="cont">
                                              <img src="img/poster6.jpg" alt="" class="img-fluid overlay">
                                              <a href="https://bit.ly/2FcldUr" class="btn btn-header btn-lg mt-2 imghover">Register Now</a>
                                            </div>
                                          </a>
                                        </div>
                                        
                                        <div class="col-md-6 col-lg-3 col-sm-1">
                                            <a href="img/poster4.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
                                              data-width="563">
                                              <img src="img/poster4.jpg" alt="" class="img-fluid opacity2">
                                            </a>
                                          </div>
                
                
                                          <div class="col-md-6 col-lg-3 col-sm-1" style="overflow:hidden;">
                                              <a href="img/poster3.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
                                                data-width="562">
                                                <img src="img/poster3.jpg" alt="" class="img-fluid opacity2">
                                              </a>
                                            </div>
                
                                        <div class="col-md-6 col-lg-3 col-sm-1" style="overflow:hidden;">
                                          <div class="row-lg-6">
                                              <a href="img/poster2.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
                                              data-width="561">
                                              <img src="img/poster2.jpg" alt="" class="img-fluid opacity2">
                                            </a>
                                          </div>
                                          <div class="row-lg-6 mt-2">
                                              <a href="img/poster5.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
                                              data-width="564">
                                              <img src="img/poster5.jpg" alt="" class="img-fluid opacity2">
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                  </div>     
                              </div>
                            </div>
                          </div>
                </section>
<% include partials/footer %>