<% include partials/header %>
<header id="page-header-events" class="maxh">
        <% include partials/nav %>
    <section class="p-5">
            <div class="row">
              <div class="col mt-5">
                <div class="container pt-5 mt-5 pl-0">
                  <br><br>
                  <!-- <span class="header-text-vertical">Explore the unseen!</span> -->
                  <h1 class="header-text">Events</h1>
                  <hr class="header-hr" noshade>              
                  <br><div class="header-text-2 mr-5">Club Of SIT for Multimedia And Open Source</div>
                  <a href="#gallerysection" class="btn btn-header btn-md ml-5 mt-3">Check out our events</a>
                </div>
              </div>
            </div>
          </div>
    </section>
    </header>
    

<% include partials/footer %>