<% include partials/header %>

<header id="page-header-gallery" class="maxh">
        <% include partials/nav %>
    <section class="p-5">
            <div class="row">
              <div class="col mt-5">
                <div class="container pt-5 mt-5">
                  <h1 class="header-text">Gallery</h1>
                  <hr class="header-hr" noshade>              
                  <br><div class="header-text-2 mr-5">Club Of SIT for Multimedia And Open Source</div>
                  <a href="#gallerysection" class="btn btn-header btn-md ml-5 mt-3">See our journey</a>
                </div>
              </div>
            </div>
    </section>
</header>

<section id="home-heading-gallery" class="p-5 maxh">
            <div class="dark-overlay">
                <a  name="gallerysection">
                    <div class="container">
                            <h1 class="text-center">Photo Gallery</h1>
                            <p class="text-center">Check out our photos</p>
                            <div class="row mb-4">
                              <div class="col-md-4 p-3" style="overflow:hidden;">
                                <a href="img/aqua1.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
                                  data-width="560">
                                  <img src="img/aqua1.jpg" alt="" class="img-fluid opacity">
                                </a>
                              </div>
                      
                              <div class="col-md-4 p-3" style="overflow:hidden;">
                                <a href="img/aqua2.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
                                  data-width="561">
                                  <img src="img/aqua2.jpg" alt="" class="img-fluid opacity">
                                </a>
                              </div>
                      
                              <div class="col-md-4 p-3" style="overflow:hidden;">
                                <a href="img/aqua3.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
                                  data-width="562">
                                  <img src="img/aqua3.jpg" alt="" class="img-fluid opacity">
                                </a>
                              </div>
                            </div>
                      
                            <div class="row mb-4 p-3" style="overflow:hidden;">
                              <div class="col-md-4">
                                <a href="img/aqua4.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
                                  data-width="563">
                                  <img src="img/aqua4.jpg" alt="" class="img-fluid opacity">
                                </a>
                              </div>
                      
                              <div class="col-md-4 p-3" style="overflow:hidden;">
                                <a href="img/aqua5.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
                                  data-width="564">
                                  <img src="img/aqua5.jpg" alt="" class="img-fluid opacity">
                                </a>
                              </div>
                      
                              <div class="col-md-4 p-3 p-3" style="overflow:hidden;">
                                <a href="img/aqua6.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
                                  data-width="565">
                                  <img src="img/aqua6.jpg" alt="" class="img-fluid opacity">
                                </a>
                              </div>
                            </div>
                          </div>      
                </a>
            </div>
    </section>

<% include partials/footer %>