<% include partials/header %>
<header id="page-header" class="maxh">
    <% include partials/nav %>
<section class="p-5" style="overflow:hidden">
        <div class="row">
          <div class="col mt-5">
            <div class="container pt-5 mt-5 pl-0">
              <br><br>
              <!-- <span class="header-text-vertical">Explore the unseen!</span> -->
              <h1 class="header-text">COSMOS</h1>
              <hr class="header-hr" noshade>              
              <br><div class="header-text-2 mr-5">Club Of SIT for Multimedia And Open Source</div>
              <a href="#gallerysection" class="btn btn-header btn-md ml-5 mt-3">Let's get started</a>
            </div>
          </div>
        </div>
      </div>
</section>
</header>

<section id="home-heading" class="p-5 maxh" style="overflow:hidden">
        <div class="dark-overlay">
          <div class="row">
            <div class="col">
              <div class="container pt-2">
                  <!-- <a href="#" class="video" data-video="https://www.youtube.com/embed/Sshle7LzNCU?ecver=1" data-toggle="modal" data-target="#videoModal">
                    <i class="fas fa-play fa-3x"></i> -->
                    <br><br>
                    <h3>Events</h3>
                  <h4>Latest Event : An interactive session on trendiest technologies with mozilla representatives</h4>
                  <br>
                  <div class="row mb-3">

                      <div class="col-md-6 col-lg-3 col-sm-1">
                          <a href="img/poster6.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
                            data-width="565">
                            <div class="cont">
                              <img src="img/poster6.jpg" alt="" class="img-fluid overlay">
                              <a href="https://bit.ly/2FcldUr" class="btn btn-header btn-lg mt-2 imghover">Register Now</a>
                            </div>
                          </a>
                        </div>

                        <div class="col-md-6 col-lg-3 col-sm-1">
                            <a href="img/poster4.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
                              data-width="563">
                              <img src="img/poster4.jpg" alt="" class="img-fluid opacity2">
                            </a>
                          </div>


                          <div class="col-md-6 col-lg-3 col-sm-1" style="overflow:hidden;">
                              <a href="img/poster3.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
                                data-width="562">
                                <img src="img/poster3.jpg" alt="" class="img-fluid opacity2">
                              </a>
                            </div>

                        <div class="col-md-6 col-lg-3 col-sm-1" style="overflow:hidden;">
                          <div class="row-lg-6">
                              <a href="img/poster2.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
                              data-width="561">
                              <img src="img/poster2.jpg" alt="" class="img-fluid opacity2">
                            </a>
                          </div>
                          <div class="row-lg-6 mt-2">
                              <a href="img/poster5.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
                              data-width="564">
                              <img src="img/poster5.jpg" alt="" class="img-fluid opacity2">
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="/events" class="btn btn-header btn-md mt-3">Events</a>
                  </div>     
              </div>
            </div>
          </div>
</section>
<a name="gallerysection">
<section id="home-heading-2" class="p-5 maxh" style="overflow:hidden">
        <div class="dark-overlay">
          <div class="row">
            <div class="col">
              <div class="container pt-5 mt-5">
                  <br>
                  <!-- <a href="#" class="video" data-video="https://www.youtube.com/embed/Sshle7LzNCU?ecver=1" data-toggle="modal" data-target="#videoModal">
                    <i class="fas fa-play fa-3x"></i> -->
                  <h2>Our Vision</h2>
                  <p>A student organization inspired from the GNU movement. Here at COSMOS we believe that freedom is
                    indespensible and should come free. Through various activities and events we bring awareness on using free and 
                    open source softwares and simplifying Multimedia based applications. We conduct events that highlight how we 
                    can use free and open source softwares over proprietary counterparts. At our core we are a team of learning 
                    hungry students who want to adapt to the free software spirit and spread the word about it. We constantly 
                    interact with FSMK members to stay updated and actively participate in the latest events and activities. 
                  </p>
                  <h3>Can you trust the code that you didn't create yourself?</h3>
                  <br>
                  <!-- <h1>Check out our gallery</h1> -->
                  <a href="#" class="btn btn-header btn-md mt-3">Agenda</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </a>

<% include partials/footer %>