<% include partials/header %>

<header id="page-header" class="maxh">
    <% include partials/nav %>
<section class="p-5">
        <div class="row">
          <div class="col mt-5">
            <div class="container pt-5 mt-5 pl-0">
              <br><br>
              <!-- <span class="header-text-vertical">Explore the unseen!</span> -->
              <h1 class="header-text">COSMOS</h1>
              <hr class="header-hr" noshade>              
              <br><div class="header-text-2 mr-5">Club Of SIT for Multimedia And Open Source</div>
              <a href="#gallerysection" class="btn btn-header btn-md ml-5 mt-3">Let's get started</a>
            </div>
          </div>
        </div>
      </div>
</section>
</header>

<section id="home-heading" class="p-5 maxh">
        <div class="dark-overlay">
          <div class="row">
            <div class="col">
              <div class="container pt-5 mt-5">
                  <!-- <a href="#" class="video" data-video="https://www.youtube.com/embed/Sshle7LzNCU?ecver=1" data-toggle="modal" data-target="#videoModal">
                    <i class="fas fa-play fa-3x"></i> -->
                  </a>
                  <h3>Events</h3>
                  <h6>An interactive session on trendiest technologies with mozilla representatives</h6>
                  <div class="row">
                    <div class="col-md-4">
                        <img src="img/bg1.jpg" alt="" class="poster">
                    </div> 
                    <div class="col-md-8 mt-5">
                        <!-- <h1>Check out our gallery</h1> -->
                        <a href="#gallerysection" class="btn btn-header btn-md mt-5">Register</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
</section>
<section id="home-heading-2" class="p-5 maxh">
        <div class="dark-overlay">
          <div class="row">
            <div class="col">
              <div class="container pt-5 mt-5">
                  <br><br><br><br><br><br>
                  <!-- <a href="#" class="video" data-video="https://www.youtube.com/embed/Sshle7LzNCU?ecver=1" data-toggle="modal" data-target="#videoModal">
                    <i class="fas fa-play fa-3x"></i> -->
                  </a>
                  <h3>Can you trust the code that you didn't create yourself?</h3>
                  <br>
                  <!-- <h1>Check out our gallery</h1> -->
                  <a href="#gallerysection" class="btn btn-header btn-md mt-3">Agenda</a>
              </div>
            </div>
          </div>
        </div>
</section>

<% include partials/footer %>