<% include partials/header %>

<header id="page-header-team" class="maxh">
        <% include partials/nav %>
    <section class="p-5">
            <div class="row">
              <div class="col mt-5">
                <div class="container pt-5 mt-5">
                <div style="overflow:hidden;width: min-content" class="text-center">
                  <h1 class="header-text">Team</h1>
                  <hr class="header-hr" noshade>              
                </div>
                  <br><div class="header-text-2 mr-5">Club Of SIT for Multimedia And Open Source</div>
                  <a href="#teamsection" class="btn btn-header btn-md ml-5 mt-3">Meet the team</a>
                </div>
              </div>
            </div>
    </section>
</header>
<a name="teamsection">
    <section id="about" class="py-3 maxh">
        <div class="container">
          <div class="row text-center mt-2">
            <div class="col-lg-12 p-auto m-auto">
                <h1>The Team</h1>
                <img src="img/team/team.jpg" class="img-fluid" style="transform:scale(0.6),margin-top:150px;border:3px solid white;">
            </div>

            <!-- <div class="col-lg-12">
              <h1></h1>
              <h3>Prabodh CP.</h3>
              <p>
                  Mentor
              </p>
                  <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                  <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                  <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                  <img src="img/team/aditya.jpg" alt="" class=" d-none d-md-block about-img">
            </div>
            <div class="col-lg-3">
              <h1></h1>
              <h3>Natesh</h3>
              <p>
                  Developer
              </p>
                  <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                  <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                  <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                  <center><img src="img/CEO.jpg" alt="" class=" d-none d-md-block about-img"></center>
            </div>
            <div class="col-lg-3">
              <h1></h1>
              <h3>Nikit</h3>
              <p>
                  Designer
              </p>
                  <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                  <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                  <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                  <center><img src="img/CEO.jpg" alt="" class=" d-none d-md-block about-img"></center>
            </div>
            <div class="col-lg-3">
              <h1></h1>
              <h3>Aditya</h3>
              <p>
                  Designer
              </p>
                  <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                  <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                  <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                  <center><img src="img/team/aditya.jpg" alt="" class="img-fluid d-none d-md-block about-img"></center>
            </div>

            <div class="col-lg-3">
                <h1></h1>
                <h3>Karan</h3>
                <p>
                    Developer
                </p>
                    <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                    <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                    <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                    <center><img src="img/team/aditya.jpg" alt="" class="img-fluid d-none d-md-block about-img"></center>
              </div>
              <div class="col-lg-3">
                <h1></h1>
                <h3>Rachana</h3>
                <p>
                    Designer
                </p>
                    <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                    <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                    <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                    <center><img src="img/CEO.jpg" alt="" class=" d-none d-md-block about-img"></center>
              </div>
              <div class="col-lg-3">
                <h1></h1>
                <h3>Anshul</h3>
                <p>
                    Designer
                </p>
                    <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                    <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                    <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                    <center><img src="img/CEO.jpg" alt="" class=" d-none d-md-block about-img"></center>
              </div>
              <div class="col-lg-3">
                <h1></h1>
                <h3>Gangadhara</h3>
                <p>
                    Developer
                </p>
                    <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                    <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                    <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                    <center><img src="img/team/aditya.jpg" alt="" class="img-fluid d-none d-md-block about-img"></center>
              </div>
              <div class="col-lg-3">
                    <h1></h1>
                    <h3>Sadiq</h3>
                    <p>
                        Developer
                    </p>
                        <a href="http://www.facebook.com/springsocials" class="nolink" target="_blank"><i class="fab fa-github fa-lg mr-2"></i></a>   
                        <a href="http://www.instagram.com/springsocials" class="nolink" target="_blank"><i class="fab fa-linkedin fa-lg mr-2"></i></a>
                        <a href="https://twitter.com/springsocials?s=08" class="nolink" target="_blank"><i class="fab fa-twitter fa-lg mr-2 "></i></a>
                        <center><img src="img/team/aditya.jpg" alt="" class="img-fluid d-none d-md-block about-img"></center>
                  </div> -->
    
         </div>
        </div>
      </section>
</a>
<% include partials/footer %>